# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

/credentials/
# локальные тестовые и сервисные ключи

# local data (seed, dumps, etc)
data/

# testing
/coverage

# next.js
/.next/
out/
.next/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Docker
docker-compose.*
Dockerfile*

# Mac OS / Windows system files
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# logs
*.log

# IDEA/WebStorm
.idea/
*.iml

# vscode
.vscode/